.DS_Store
.history
.idea/

# ignore compiled source files
**/cartridge/static/

coverage/
dw.json
node_modules/
npm-debug.log
test/appium/webdriver/config.json

# Webpack Stats
stats.json

# ignore base cartridges folder added for testing
cartridges/