# SFRA
cartridges/**/cartridge/static/**/css
cartridges/**/cartridge/static/**/js
cartridges/**/cartridge/static/**/fonts

*.iml
cartridges.zip
demo_data_sfra
dw.json
mobilefirstdata/
sitegenesisdata/
storefrontdata/
test/acceptance/report
test/appium/webdriver/config.json
test/integration/config.json

# OS Specific
._*
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE Specific
.~lock.*
.buildpath
.idea
.project
.settings
# Do not ignore. Needed to share settings.
# .vscode

# Project Specific
.changelog
.env
.eslintcache
.history
*.log
coverage/
dist/
node_modules/
npm-debug.log
stats.json

# Module Build Only
cartridges/
